<!DOCTYPE html>
<html>
<head>
  <title>My first Vue app</title>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
  <div id="app">
      <h3>Check crypto currency price (BTC, ETH, ETC)</h3>
      <!-- <input v-model="message" placeholder="edit me" v-on:change="signalChange"> -->
      <input v-model="currency" placeholder="currency code" v-on:input="fetchData()">
      <p>Price is: {{ message }}</p>
  </div>
  <script src="./src/main.js"></script>
</body>
</html>